/* Root used for CSS variables */
:root {
    --font-family: 'Albert Sans', sans-serif;
    --primary-bg-color: #b97ab5;
    --secondary-bg-color: #986f9b;
    --text-color: #ffffff;
}

/* Hiding the scrollbar for webkit-based browsers such as Chrome and Safari */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: rgb(10, 10, 10, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 10px;
}

html {
    scrollbar-width: none; /* Only used for Firefox */
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.5;

    background-color: var(--primary-bg-color);
    color: var(--text-color);

    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-inline-size: 100%; /* Makes sure the image is 100% size of the parent aka what it's inside of */
}

/* section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: auto;
} */

/* Wrapper/Container: Ensuring the margins on both side are equal and the max inline(logical)/width is 1,000 pixels */
.wrapper {
    max-inline-size: 62.5rem;
    margin-inline: auto;
}

header {
    display: flex;
    flex-wrap: wrap; /* Making sure it wraps inside and doesn't overflow */
    justify-content: space-between;
    align-items: start;
    border: 5px dotted red;
}

.main-header {
    color: var(--text-color);
    padding: 1rem;
    position: sticky; /* Makes the header stick at the top */
    top: 0;
    min-height: 2rem;
    z-index: 10; /* Ensures it stays on top of other elements */
}

.main-header h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 2rem;
    /* margin-left: 25px; */
}

.primary-navigation ul {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation a {
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    text-decoration: solid;
    color: #f5dec0;
}

/* .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
} */